.navbar-item {
  background-color: #cfecf6;

  color: #40475d;
  text-decoration: none;

  padding: 10px;

  border-radius: 5px;

  transition: all 0.2s;
}

.navbar-item.active {
  background-color: #c3dee7;

  font-weight: bold;
}

.navbar-item:hover {
  cursor: pointer;

  background-color: #c3dee7;
}
